/* Style global */
.qcm-container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #f4f8f7;
  border-radius: 8px;
  width: 60%;
  margin: 40px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  color: #00796b;
  margin-bottom: 20px;
}

/* Style de la question */
.question-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.option-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.answer-option {
  margin-right: 10px;
  cursor: pointer;
}

.answer-label {
  font-size: 18px;
  color: #333;
}

button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:disabled {
  background-color: #b0bec5;
}

button:hover:not(:disabled) {
  background-color: #004d40;
}

/* Styles des résultats */
.correct {
  color: #4caf50;
  font-size: 18px;
}

.incorrect {
  color: #d32f2f;
  font-size: 18px;
}

.score {
  font-size: 24px;
  color: #00796b;
  margin-top: 20px;
}

/* Styles des images */
.quiz-image {
  width: 100%;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Boutons de navigation */
.next-button,
.restart-button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.next-button:hover,
.restart-button:hover {
  background-color: #004d40;
}

.restart-button {
  margin-top: 20px;
}
